<!DOCTYPE html>
<html>
    <head>
        <title>Twin-Screw Universal Controller</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/dc.css">
        {% if compiled %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
            <script type="text/javascript" src="/javascript/d3.v3.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript" src="/javascript/compiled.js"></script>
            <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
            <script type="text/javascript">
                google.load('visualization', '1.0', {'packages':['corechart']});
            </script>
        {% else %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
            <script type="text/javascript" src="/javascript/d3.v3.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript" src="/javascript/auth.js"></script>
            <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
            <script type="text/javascript" src="/javascript/crossfilter.min.js"></script>
            <script type="text/javascript" src="/javascript/underscore.min.js"></script>
            <script type="text/javascript" src="/javascript/dc.min.js"></script>
            <script type="text/javascript" src="/javascript/jstz.min.js"></script>
            <script type="text/javascript" src="/javascript/Limiter.js"></script>
            <script type="text/javascript" src="/javascript/shows.js"></script>
            <script type="text/javascript" src="/javascript/mst.js"></script>
            <script type="text/javascript" src="/javascript/colors.js"></script>
            <script type="text/javascript" src="/javascript/numbers.js"></script>
            <script type="text/javascript" src="/javascript/plots.js"></script>
            <script type="text/javascript" src="/javascript/mstmeta.js"></script>
            <script type="text/javascript" src="/javascript/showrecord.js"></script>
            <script type="text/javascript" src="/javascript/drawcalendar.js"></script>
            <script type="text/javascript" src="/javascript/leftjoin.js"></script>
            <script type="text/javascript" src="/javascript/watchrecord.js"></script>
            <script type="text/javascript" src="/javascript/mst3k.js"></script>
            <script type="text/javascript" src="/javascript/mstviz.js"></script>
            <script type="text/javascript" src="/javascript/site.js"></script>
            <script type="text/javascript">
                google.load('visualization', '1.0', {'packages':['corechart']});
            </script>
        {% endif %}
        <style type="text/css">
        .yt-video-link {
            float: left;
            width: 160px;
            max-width: 160px;
            text-align: left;
            vertical-align: top;
        }
        .calendar {
          font: 10px sans-serif;
          shape-rendering: crispEdges;
        }

        .day {
          fill: #fff;
          stroke: #ccc;
        }

        .month {
          fill: none;
          stroke: #000;
          stroke-width: 2px;
        }

        .RdYlGn .q0-11{fill:rgb(165,0,38)}
        .RdYlGn .q1-11{fill:rgb(215,48,39)}
        .RdYlGn .q2-11{fill:rgb(244,109,67)}
        .RdYlGn .q3-11{fill:rgb(253,174,97)}
        .RdYlGn .q4-11{fill:rgb(254,224,139)}
        .RdYlGn .q5-11{fill:rgb(255,255,191)}
        .RdYlGn .q6-11{fill:rgb(217,239,139)}
        .RdYlGn .q7-11{fill:rgb(166,217,106)}
        .RdYlGn .q8-11{fill:rgb(102,189,99)}
        .RdYlGn .q9-11{fill:rgb(26,152,80)}
        .RdYlGn .q10-11{fill:rgb(0,104,55)}
        </style>
    </head>
    <body>
        <!--<div id="login-container" class="pre-auth">This application requires access to your YouTube account.
            Please <a href="#" id="login-link">authorize</a> to continue.</div>
        <div id="youtube-results"></div>-->
        <font size="-1" face="Verdana">
        <center>
            {% if not safe_for_work %}
                <img id="image" src="/imgs/twsc.png" width="400" title="This thing is called the Twin-Screw Universal Controller and it's used to control *everything*! / Well, gee, *everything*'s a lot of stuff, Joel ... / Yeah, I'll say it is!"></img><br />
            <!-- "This thing is called the Twin-Screw Universal Controller and it's used to control *everything*!"<br />
            "Well, gee, *everything*'s a lot of stuff, Joel ..."<br />
            "Yeah, I'll say it is!"<br /> -->
            {% endif %}
          <input id="twsc" type="textbox" style="width: 400px;" autocapitalize="off" placeholder="Type something"></input>
          <br />
          <br />
        </center>
            <div id="results" style="margin-left: auto; margin-right: auto;">
                <table width="600" border="0" align="center">
                    <tr>
                        <td colspan="2" align="center">
                            <br />
                            <i>Try these commands:</i>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">help</td>
                        <td valign="top">To see this help menu again.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">mst</td>
                        <td valign="top">To fetch a random MST3K episode.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">mst 514</td>
                        <td valign="top">To look up what episode that is, and automatically search YouTube for it.
                            Also accepts multiple arguments, e.g., 'mst 514 109 113'</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">mst -s=12345</td>
                        <td valign="top">To fetch a random MST3K episode from seasons 1 through 5.
                            Use a 'K' to enable KTMA episodes, and an 'A' or a '10' to enable season 10 episodes.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">mst -ns=K</td>
                        <td valign="top">To fetch a random MST3K episode not from season K.
                            Use the same patterns from above for other seasons.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">mst -f=eye</td>
                        <td valign="top">To search for MST3K episodes that contain that pattern.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">
                            red<br />
                            #ff0044<br />
                            #c08<br />
                            red blue green violet
                        </td>
                        <td valign="top">See some rendered HTML color swatches.</td>
                    </tr>
                    <tr>
                        <td valign="top" width="140">
                            red to blue
                        </td>
                        <td valign="top">To see a rendered fade between any two colors.</td>
                    </tr>
                    <!-- <tr>
                        <td align="top">help</td>
                        <td align="top">To see this screen again</td>
                    </tr> -->
                </table>
            </div>
            </font>
    </body>
</html>